{% extends 'base.html.twig' %}

{% block title %}
	{{ project.name }}
	- TaskLinker
{% endblock %}

{% block header %}
	<div id="current-user"></div>
	<div id="title-page">
		<h1>{{ project.name }}</h1>
	</div>
{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<br>
	<button class="button button-submit">Modifier</button>

	<script type="module">
		$('select[multiple]').select2();
	</script>

	{{ form_end(form) }}
{% endblock %}