<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
		<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	</head>
	<body>
		<div id="main-container">
			<nav>
				<a href="{{ path('app_home') }}" id="logo">
					<img src="{{ asset('/img/logo.png') }}" alt="Logo TaskLinker"/>
				</a>
				<ul id="main-menu">
					{% set segment = app.request.getPathInfo()|split('/') %}
					{% set active_home = (segment[1] is empty or segment[1] == 'projet') ? 'active' : '' %}
					{% set active_employees = (segment[1] == 'employes' or segment[1] == 'employe') ? 'active' : '' %}
					<li class="{{ active_home }}">
						<a href="{{ path('app_home') }}">
							<i class="fa-solid fa-list-check"></i>
							Projets
						</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="{{ active_employees }}">
							<a href="{{ path('app_employee') }}">
								<i class="fa-regular fa-user"></i>
								Équipe
							</a>
						</li>
					{% endif %}
				</ul>
			</nav>
			<main>
				<div class="header">
					<div class="title-page"> {% block header %}{% endblock %}
						</div>
						{% if app.user %}
							<a href="{{ path("app_logout") }}" class="connected-user-avatar">
								{{ app.user.firstName | first}}{{app.user.lastName | first }}
							</a>
						{% endif %}
					</div>
					<div id="content"> {% block body %}{% endblock %}
						</div>
					</main>
				</body>
			</body>
		</html>
	</body>
</html>